.client_bgc {
  width: 1200px;
  margin: 0 auto;
}
.client-btmbar {
  margin: 50px 0px;
  padding: 21px 0px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
}
.client-btmbar > * {
  height: 88px;
  line-height: 88px;
}

.bar1 .avatar {
  background-image: url(https://fundres.mipay.com/res/pc/images/index_footer_1-74942bfa2c.png);
}

.bar2 .avatar {
  background-image: url(https://fundres.mipay.com/res/pc/images/index_footer_2-e06991e650.png);
}
.bar3 .avatar {
  background-image: url(https://fundres.mipay.com/res/pc/images/index_footer_3-29c808bec4.png);
}
.client-btmbar li .avatar {
  vertical-align: middle;
  display: inline-block;
  width: 295px;
  height: 60px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
