.bgc_1 {
  background-image: url(https://dn-fund-photo.hongdianfund.com/77dc5f01-85a5-4314-bd75-3e0d6310b20e);
}
.bgc_2 {
  background-image: url(https://dn-fund-photo.hongdianfund.com/61825a73-96f8-495f-bd61-469fca4a842e);
}
.bgc_3 {
  background-image: url(https://dn-fund-photo.hongdianfund.com/03a38cc2-b2d4-4a3f-8dec-dc2900bf4b1b);
}
.invest_bgc {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 175px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}

.invest_bgc {
  &::before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .cover {
    left: -20px;
    width: 421px;
    height: 204px;
    background-image: url(https://fundres.mipay.com/res/pc/images/index_zt_cover2-ee8b0f3a86.png);
    position: absolute;
    top: -16px;
    font-size: 0px;
    opacity: 0.6;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .wrap {
    position: relative;
    z-index: 3;
    display: inline-block;
    vertical-align: middle;
    .title {
      font-size: 16px;
      color: white;
      line-height: 22px;
    }
  }
  .wrap .tags span {
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 8px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://fundres.mipay.com/res/pc/images/index_zt_cover-e6a93fbf42.png);
  }
}
.theme .invest_info {
  padding: 10px 24px 0px 17px;
}
.theme .invest_info {
  position: relative;
  top: 180px;
  &::before {
    content: '';
    position: absolute;
    left: 12px;
    top: -14px;
    width: 33px;
    height: 50px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://fundres.mipay.com/res/pc/images/index_zt_quote-682f049cdf.png);
  }

  p {
    text-indent: 2.5em;
    color: #313131;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
  }
}
.theme .invest_info .invest_msg li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
  transform: translate3d(0, -2px, 0);
}
.intent {
  margin-bottom: 62px;
}
