article {
  background-color: #f7f7fb;
  overflow: hidden;
}
.wealth-section,
.wealth-jj {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
}

.wealth-section .slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 232px;
  height: 608px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(https://fundres.mipay.com/res/pc/images/index_hq-db5ff2fdc5.png);
}
.wealth-jj .slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 232px;
  height: 608px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('https://fundres.mipay.com/res/pc/images/index_jj-f8a0ea0011.png');
}
.content-list {
  padding-left: 228px;
}
.wealth-list li {
  margin: 0px 0px 17px 17px;
  position: relative;
  float: left;
  width: 226px;
  height: 295px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
}
a {
  text-decoration: none;
}
.wealth-list li h3 {
  margin: 0;
  margin-top: 40px;
  height: 48px;
  color: #313131;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  font-weight: 500;
}
.wealth-list .price {
  padding-top: 20px;
  color: #ed6039;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  font-weight: 500;
}
.wealth-list li p {
  color: #868686;
  text-align: center;
  font-size: 13px;
}
.wealth-list li .btm p {
  color: #868686;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -24%;
  font-size: 13px;
}
.wealth-list li:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
  transform: translate3d(0, -2px, 0);
}
.wealth-list li .btm .txt {
  text-align: center;
  color: #868686;
  font-size: 13px;
  line-height: 18px;
  bottom: 40px;
  left: 36%;
  margin-left: -17%;
}
.wealth-list li .btm .deliver {
  display: inline-block;
  margin: 0px 14px;
  content: '';
  height: 8px;
  width: 1px;
  background-color: #b1b1b1;
}
.wealth-list .more {
  padding: 0;
  background-color: transparent;
}
.wealth-list .more:hover {
  box-shadow: none;
  transform: translate3d(0, 0, 0);
}
.item-dw {
  width: 226px;
  height: 139px;
  background-image: url('https://fundres.mipay.com/res/pc/images/index_hq_dw-53c829f19f.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.item-dw:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
  transform: translate3d(0, -2px, 0);
}
.item-link {
  width: 143px;
  height: 62px;
  margin-top: 17px;
  padding: 38px 42px;
  background-color: #fff;
}
.item-link:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
  transform: translate3d(0, -2px, 0);
}
.item-link .title {
  color: #313131;
  font-size: 16px;
  line-height: 22px;
}
.item-link .btn-more {
  margin-top: 12px;
  display: block;
  width: 143px;
  height: 32px;
  background-image: url('https://fundres.mipay.com/res/pc/images/index_more-fdaae61727.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center centers;
}
em {
  font-style: normal;
}

.theme .bg {
  background-image: url(https://ts.market.mi-img.com/download/Finance/3b8c383c6416fb25bd17dc143951adf044101bc1/gold.jpg);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 175px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  overflow: hidden;
}
.theme .gold {
  position: relative;
}
.theme .gold .price {
  padding-top: 190px;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 40px;
  text-align: center;
  font-weight: 500;
  color: #ed6039;
}
.wealth-list span {
  font-size: 38px;
}
.theme .gold .dec {
  padding-top: 6px;
  color: #868686;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}
