<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>小米金融--小米社区</title>
    <link href="../xm_css/css/community.css" rel="stylesheet" type="text/css" />
    <link href="../xm_css/common.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="community">
      <header class="commu-header clear">
        <div class="wrapper">
          <span class="logo"></span>
          <div class="styleline name">小米社区</div>
          <div class="login">
            <div class="logo-style">登录</div>
          </div>
          <div class="styleline margin40 noActive">
            <a href="#">广场</a>
          </div>
          <div class="styleline margin40 h-active">
            <a href="#">圈子</a>
          </div>
          <div class="styleline margin40 noActive">
            <a href="#">MIUI下载</a>
          </div>
          <div class="styleline margin40 noActive">
            <a href="#">手机解锁</a>
          </div>
          <div class="styleline margin40 noActive">
            <a href="#">MIUI2</a>
          </div>
          <div class="styleline margin40 noActive">
            <a href="#">小米商城</a>
          </div>
        </div>
      </header>
      <div class="container">
        <main class="ant-layout-content">
          <ul class="slider-bar1">
            <li><a href="#">全部圈子</a></li>
          </ul>
          <div class="padding-bar2"></div>
          <div class="contain-bar3">
            <div class="boardHeader">
              <div class="border-logo">
                <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/90cb8738fa4c9bab801a5d5ca7358750#vipAccount-img" alt="" />
              </div>
              <div class="border-title">
                <div>小米金融</div>
                <div class="boder-title--text">12名开发者入驻</div>
                <div class="border-photos">
                  <div class="photo">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/27e580e9ea2635ee728368d2bcc5b809" alt="" />
                  </div>
                  <div class="photo">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/27e580e9ea2635ee728368d2bcc5b809" alt="" />
                  </div>
                  <div class="photo">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/27e580e9ea2635ee728368d2bcc5b809" alt="" />
                  </div>
                  <div class="photo">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/2b256c24f1012ca5825c1e7c0ba04fbf" alt="" />
                  </div>
                  <div class="photo">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/27e580e9ea2635ee728368d2bcc5b809" alt="" />
                  </div>
                  <div class="photo">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/1df70f3798dd61278052e40afdc872fd" alt="" />
                  </div>
                </div>
              </div>
              <div class="rightBar">
                <span>加入</span>
              </div>
            </div>
            <div class="content-left">
              <div class="conten-left--bars">
                <div class="content-bar">
                  <a href=""><span class="oran">全部</span></a>
                  <a href=""><span>建议</span></a>
                  <a href=""><span>求助</span></a>
                  <a href=""><span>提案</span></a>
                  <a href=""><span>精华</span></a>
                </div>
              </div>
              <div class="content-left--toTop clear">
                <div class="toTop">
                  <p>
                    <span class="zd">置顶</span>
                    <span class="txt">[新品]小米互助--50万元互助金保障，0元加入</span>
                    <span class="date">06-08</span>
                  </p>
                  <p>
                    <span class="zd">置顶</span>
                    <span class="txt">请各位牢记小米金融克服热线400-100-3399...</span>
                    <span class="date">2019-12-31</span>
                  </p>
                </div>
              </div>
              <div class="pl_item">
                <div class="pl">
                  <div class="photo">
                    <div class="imgl">
                      <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/52cbf76fd697abc55f9c0d3fdd2412c4#vipAccount-img" alt="" />
                    </div>
                    <div class="text">
                      <p class="m">跑在山湖之间</p>
                      <p class="n">1小时前·来自小米10 Pro</p>
                    </div>
                  </div>
                  <div class="words">
                    关于小米手环5NFC版质量问题申请售后换货但公交开卡费和充值余额小米金融粗暴拒绝不予退还的事情，昨天我在雷军微博的评论中投诉，立马就有小米企业服务的微博私信给我了，然后今天小米金融就打电话给我，承诺马上全部原路退回。虽然此事已经解决，但是作为米粉，其实对小米金融的服务非常不满意的，为什么一定要我在雷总的微博下面投诉你们才能予以重视？该退的就应该一开始就规规矩矩地退，而不是我一投诉到领导那里你就赶紧处理，仿佛我是讹上你了一样，明明我是一个小米的死忠粉，看到小米金融这样的服务水平挺担心的。
                  </div>
                  <div class="foot">
                    <img src="../xm_images/jinghao.6b4573d3.svg" alt="" />
                    <span>雷军十年演讲</span>
                    <img src="../xm_images/circle.a164d69a.svg" alt="" />
                    <span>小米金融</span>
                    <div class="dianzan">
                      <span>4&nbsp&nbsp浏览</span>
                      <img src="../xm_images/res_.0cec908a.svg" alt="" />
                      <span>0</span>
                      <img src="../xm_images/zan.d9076d4f.svg" alt="" />
                      <span>0</span>
                    </div>
                  </div>
                </div>
                <div class="pl">
                  <div class="photo">
                    <div class="imgl">
                      <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/52cbf76fd697abc55f9c0d3fdd2412c4#vipAccount-img" alt="" />
                    </div>
                    <div class="text">
                      <p class="m">跑在山湖之间</p>
                      <p class="n">1小时前·来自小米10 Pro</p>
                    </div>
                  </div>
                  <div class="words">
                    关于小米手环5NFC版质量问题申请售后换货但公交开卡费和充值余额小米金融粗暴拒绝不予退还的事情，昨天我在雷军微博的评论中投诉，立马就有小米企业服务的微博私信给我了，然后今天小米金融就打电话给我，承诺马上全部原路退回。虽然此事已经解决，但是作为米粉，其实对小米金融的服务非常不满意的，为什么一定要我在雷总的微博下面投诉你们才能予以重视？该退的就应该一开始就规规矩矩地退，而不是我一投诉到领导那里你就赶紧处理，仿佛我是讹上你了一样，明明我是一个小米的死忠粉，看到小米金融这样的服务水平挺担心的。
                  </div>
                  <div class="foot">
                    <img src="../xm_images/jinghao.6b4573d3.svg" alt="" />
                    <span>雷军十年演讲</span>
                    <img src="../xm_images/circle.a164d69a.svg" alt="" />
                    <span>小米金融</span>
                    <div class="dianzan">
                      <span>4&nbsp&nbsp浏览</span>
                      <img src="../xm_images/res_.0cec908a.svg" alt="" />
                      <span>0</span>
                      <img src="../xm_images/zan.d9076d4f.svg" alt="" />
                      <span>0</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-right">
              <div class="list">
                <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/90cb8738fa4c9bab801a5d5ca7358750#vipAccount-img" alt="">
                <p class="xmjr">小米金融</p>
                <p class="rz">12名开发者入驻</p>
                <div class="border-photos1">
                  <div class="photo">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/27e580e9ea2635ee728368d2bcc5b809" alt="" />
                  </div>
                  <div class="photo">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/27e580e9ea2635ee728368d2bcc5b809" alt="" />
                  </div>
                  <div class="photo">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/27e580e9ea2635ee728368d2bcc5b809" alt="" />
                  </div>
                  <div class="photo">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/2b256c24f1012ca5825c1e7c0ba04fbf" alt="" />
                  </div>
                  <div class="photo">
                    <img src="https://cdn.cnbj1.fds.api.mi-img.com/middle.community.vip.bkt/27e580e9ea2635ee728368d2bcc5b809" alt="" />
                  </div>
  
                  <div class="rightBar">
                    <span>加入</span>
                  </div>
                  <div class="num">
                    <div class="dongtai">
                      <p>312</p>
                      <p>动态</p>
                    </div>
                    <span class="sd">|</span>
                    <div class="chengyuan">
                      <p>1700</p>
                      <p>成员</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
